    .searchForm{
        background-color: white;
        width: 95%;
        height: 30px;
        border-radius: 5px;
        margin-left: 10px;
    }
    input {
        margin-left: 10px;
        width:95%;
        height:100%;
        padding:5px;
        border:none;
        border-radius:5px;
        font-size:15px;
    }
    input:focus{outline:none;}

    .searchResultContainer {
        z-index: 3;
        height: 31vh;
        width: 35%;
        background-color: #0e0808;
        position: absolute;
        border: 2px solid;
        border-color: rgb(232, 235, 237);
        padding: 15px;
      }
    
    
    .searchResulthWrap {
      // userList와 hashTagList
      li {
        width: 100%;
        height: 50px;
        list-style: none;
        padding: 6px 6px;
        font-size: 14px;
        font-weight:600;
        z-index: 4;
        //letter-spacing: 2px;
        &:hover {
          background-color: #f2f2f2;
          cursor: pointer;
        }
    
        a {
          display: block;
          width: 100%;
          height: 100%;
          div {
            height: 100%;
            float: left;
            // display: flex;
            justify-content: center;
            align-items: center;
          }
    
          .userLeftSide {
            width: 10%;
            img {
              width: 80%;
              height: 100%;
              object-fit: cover;
              border-radius: 30px;
            }
          }
    
          .userMiddleSide1 {
            width: 25%;
            justify-content: left;
            overflow: hidden;
            line-height:38px;
          }
          .userMiddleSide2 {
            width: 55%;
            padding-left: 20px;
            justify-content: left;
            overflow: hidden;
            line-height:38px;
          }
    
          
          }
        }
      }
    
    
    .searchOutLayer {
      // position: absolute;
      z-index: 1500;
      width: 100%;
      height: 100%;
      display: block;
      background: rgba(0, 0, 0, 0.3);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }