*{
    margin:0px;
    padding:0px;
}

.container{
    width:800px;
    margin:auto;
    display:flex;
    text-align: center;
  }

.btns{
    border: 1px solid silver;
    border-radius: 10px;
}

.imageBox{
    width: 300px;
}

img {
    width:100%;
}  
 
.infoBox{
    width: 500px;
}

.infocontents{
width: 400px;
border: 1px solid silver;
border-radius: 10px;
box-sizing: border-box;
}

.infocontents li {
list-style-type: none;
}

