.inputNicknameForm{
    border:1px solid silver;
    border-radius:10px;
    width:90%;
    margin-left:18px;
    margin-bottom:5px; 
    .inputNickname{
        border:none;
        font-size:13px;
        height:38px;
        width:70%;
        margin-left:10px;
    }
}

.nickNameConfirm{
    font-size:12px;
    margin-left:20px;
    margin-bottom:10px;
}

.inputIdForm{
    border:1px solid silver;
    border-radius:10px;
    width:90%;
    margin-left:18px;
    margin-bottom:5px;
    .inputId{
        border:none;
        font-size:13px;
        height:38px;
        width:70%;
        margin-left:10px;
    }
}

.idConfirm{
    font-size:12px;
    margin-left:20px;
    margin-bottom:10px;
}
.inputPwForm{
    border:1px solid silver;
    display:flex;
    width:90%;
    margin-left:18px;
    border-radius:10px;
    margin-bottom:5px;
    text-align:center;
    .inputPw{
        border:none;
        font-size:13px;
        height:38px;
        width:88%;
        margin-left:10px;
    }

    .eyeBtn{
        height:50%;
        margin-top:8px;
        border:none;
        margin-right:3px;
        background-color:white;
        cursor: pointer;
    }
}
.inputNewPw{
    border:1px solid silver;
    display:flex;
    width:90%;
    margin-left:18px;
    border-radius:10px;
    margin-bottom:5px;
    input{
        border:none;
        font-size:13px;
        height:38px;
        width:70%;
        margin-left:10px;
    }
}
.pwConfirm{
    font-size:12px;
    margin-left:20px;
    margin-bottom:10px;
}
.inputEmail{
    border:1px solid silver;
    display:flex;
    width:90%;
    margin-left:18px;
    border-radius:10px;
    margin-bottom:10px;
    input{
        border:none;
        font-size:13px;
        height:38px;
        width:70%;
        margin-left:10px;
    }
}
.emailConfirm{
    font-size:12px;
    margin-left:20px;
    margin-bottom:10px;
}
.socialLogin{
    display:flex;
    justify-content:center;
    width:100%;
    height:60px;
    .kakaoBtn{
        width:14%;
        height:45px;
        object-fit:fill;
        margin-bottom:5px;
        cursor:pointer;
        border-radius:10px;
        margin-right:10px;
    }
    .naverBtn{
        width:14%;
        height:45px;
        object-fit:fill;
        margin-bottom:5px;
        cursor:pointer;
        border-radius:10px;
        margin-right:8px;
    }
    .googleBtn{
        padding:5px;
        width:14%;
        height:45px;
        object-fit:fill;
        margin-bottom:5px;
        cursor:pointer;
        border-radius:30px;
        border:1px solid silver;
    }
}

.checkBox{
    margin-left:20px;
    text-align:left;
    margin-bottom:50px;
    display:flex;
    margin-top:10px;
    .checkBox1{
        flex:1;
        line-height:21px;
        font-size:12px;
        input{
            margin-right:5px;
        }
    }
    .checkBox2{
        line-height:21px;
        margin-right:10px;
        flex:1;
        font-size:12px;
        span{
            margin-left:3px;
        }
        span:hover{
            opacity:50%;
        }
    }
}
.selectBox{
    margin-bottom:25px;
    .select1{
        margin-left:20px;
        padding:5px;
        font-size:12px;
    }
    .select2{
        margin-left:8px;
        padding:5px;
        font-size:12px;
    }
}
.loginFooter{
    font-size:12px;
}
.joinConfirm{
    font-size:12px;
    margin-left:18px;
    margin-bottom:10px;
    margin-top:20px;
    text-align: center;
}