<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FeedPost">
	
	<select id="selectAllFeedPost"
		resultType="kh.coded.dto.FeedPostDTO">
		select * from FeedPost where FeedPostId = #{FeedPostId}
	</select>
	
	<insert id="insertFeedPost">
	insert into FeedPost values()
	</insert>

	<select id="selectTestFeedList" resultType="kh.coded.dto.FeedPostDTO">
		select * from FeedPost
	</select>

	
</mapper>