<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Follow">
<select id="selectallFollow" resultType="kh.coded.dto.MemberDTO"></select>
<insert id="insertFollow">
insert into Follow values()
</insert>
<delete id="deleteFollow"></delete>
</mapper>