<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Follow">

	<select id="selectFollowingList"
		resultType="kh.coded.dto.MemberDTO">
		select * from member where UserNo = ${ToUserNo}
	</select>

	<select id="selectFollowerList"
		resultType="kh.coded.dto.MemberDTO">
		select * from member where UserNo = ${FromUserNo}
	</select>

	<select id="isFollow" resultType="boolean">
		select * from follow where ToUserNo = ${ToUserNo} and FromUserNo =
		${FromUserNo}
	</select>



	<insert id="insertFollow">
		insert into Follow values(Follow_seq.nextval, ${ToUserNo},
		${FromUserNo})
	</insert>



	<delete id="deleteFollow">
		delete from Follow where ToUserNo = ${ToUserNo} and
		FromUserNo = ${FromUserNo}
	</delete>

</mapper>