<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="Member">
  	<select id="selectMemberById" resultType="kh.coded.dto.MemberDTO">
  		select * from member where userId = #{userId}
  	</select>
  	<select id="selectMemberByUserNo" resultType="kh.coded.dto.MemberDTO">
  		select * from member where userNo = ${userNo}
  	</select>
  	<select id="isMemberId" resultType="String">
  		select userId from member where userId = #{userId}
  	</select>
  	<select id="selectMemberByNickName" resultType="kh.coded.dto.MemberDTO">
  		select * from member where userNickname like '%'||#{userNickName}||'%'
  	</select>
  	<select id="selectMemberByKakaoToken" resultType="kh.coded.dto.MemberDTO">
  		select * from Member where KakaoToken=#{kakaoToken}
  	</select>
  	<select id="selectMemberByNaverToken" resultType="kh.coded.dto.MemberDTO">
  		select * from Member where NaverToken=#{naverToken}
  	</select>
  	<insert id="insertMember">
  		<selectKey keyProperty="userNo" resultType="int" order="BEFORE">
  			select userno_seq.nextval from dual
  		</selectKey>
  			insert into member(userNo, userId, pw, userNickname, bio, hashtag, address1, address2, role, naverToken, kakaoToken, googleToken)
  			values(${userNo},#{userId},#{pw},#{userNickName},#{bio},#{hashtag},#{address1},#{address2},#{role},#{naverToken},#{kakaoToken},#{googleToken})
  	</insert>
	<delete id="deleteMember">
		delete member where userId = #{userId} and pw = #{pw}
	</delete>
	<update id="updateMember">
		update member set usernickname = #{userNickName}, bio = #{bio}, hashtag = #{hashtag},
		 address1 = #{address1}, address2 = #{address2} where userId = #{userId}
	</update>
	<update id="updateKakaoToken">
		update Member set KakaoToken=#{kakaoToken} where userNo=${userNo}
	</update>
	<update id="updateNaverToken">
		update Member set NaverToken=#{naverToken} where userNo=${userNo}
	</update>
	<update id="updatePw">
		update member set pw = #{pw} where userId = #{userId}
	</update>

	<select id="selectUserList" resultType="kh.coded.dto.MemberDTO">
		select * from member
	</select>
  </mapper>