<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Photo">

    <select id="selectByFeedpostId" resultType="kh.coded.dto.PhotoDTO">
        select * from photo where feedpostid = ${feedPostId}
    </select>

    <select id="selectFeedlike" resultType="kh.coded.dto.PhotoDTO">
        select * from photo where feedpostid = ${feedPostId}
    </select>

    <insert id="insertPhoto">
        <choose>
            <when test="userNo!=0">
                insert into photo values (photoid_seq.nextval, #{oriName}, #{sysName}, 0, 0, ${userNo})
            </when>
            <when test="feedPostId!=0">
                insert into photo values (photoid_seq.nextval, #{oriName}, #{sysName}, ${feedPostId}, 0, 0)
            </when>
        </choose>
    </insert>

    <select id="selectByUserNo" resultType="kh.coded.dto.PhotoDTO">
        select * from photo where userno = ${userNo}
    </select>

</mapper>

  