<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WeeklyWeather">
	<insert id="insert">
		insert into WeeklyWeather(WeekWeatherId, AddressId, Min, Max, WeatherCode, DDay)
		 values (WeekWeatherId_SEQ.nextval, #{addressId}, #{min}, #{max}, #{weatherCode}, #{dDay})
	</insert>
</mapper>