.contents {
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    border: 1px solid #e8ebed;
    border-radius: 6px;
    opacity: 1;
    line-height: 1.3;
    overflow: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  
    &:hover {
      transform: scale(1.05);
    }
  
    .contentImgContainer {
      position: relative;
  
      .contentImg {
        width: 100%;
        position: relative;
        cursor: pointer;
      }
  
      .isDisplayNone {
        display: none;
        width: 100%;
      }
  
      .optionContainer {
        position: absolute;
        display: flex;
        bottom: 1%;
  
        li {
          padding: 10px;
          margin-left: 27px;
        }
  
        .like {
          width: 22px;
          height: 22px;
          color: #ff0066;  
          cursor: pointer;
        }
  
        .dislike {
          width: 22px;
          height: 22px;
          color: white;
          cursor: pointer;
        }
  
        .comment {
          width: 22px;
          height: 22px;
          color: white;
          cursor: pointer;
        }
  
        .share {
          width: 22px;
          height: 22px;
          color: white;
        }
  
        .more {
          width: 22px;
          height: 22px;
          color: white;
        }
      }
  
      .someImg {
        width: 20px;
        height: 20px;
        position: absolute;
        bottom: 91%;
        right: 5%;
        color: white;
      }
    }
  
    .contentTextWrapper {
      width: 100%;
      height: auto;
  
      .contentText {
        padding: 10px 10px 12px;
      }
  
      .authorWrapper {
        display: inline-flex;
        line-height: 1.3;
        font-size: 12px;
        .authorImgWrapper {
          padding: 10px 10px 12px;
          .authorImg {
            width: 30px;
            height: 30px;
            border: 0px solid white;
            border-radius: 50%;
          }
        }
  
        .authorInfoWrapper {
          padding: 10px 10px 3px 3px;
  
          .authorInfo {
            .author {
              font-weight: bold;
              overflow: hidden;
              cursor: pointer;
            }
  
            .uploadDate {
              margin-block-start: 1.6em;
              margin-block-end: 1.6em;
              padding-left: 5%;
              color: #9ea4aa;
            }
          }
  
          .authorDescription {
            margin-top: 3px;
            max-height: 45px;
            overflow: hidden;
            color: #9ea4aa;
          }
  
          .authorPopularity {
            height: 15px;
            padding-right: 10px;
            font-size: 12px;
  
            color: #9ea4aa;
            margin-top: 3px;
  
            svg {
              width: 12px;
              height: 12px;
            }
  
            span {
              margin: 0 3px;
            }
  
            .likeNum {
              padding-right: 5px;
            }
          }
        }
      }
  
      .commentWrapper {
        width: 100%;
        height: 42px;
        padding: 10px 10px 15px 10px;
        line-height: 25px;
        overflow: hidden;
        font-size: 16px;
        background-color: #f7f8f9;
        background-position: 0% 0%;
        color: #26282b;
  
        .innerWrapper {
          width: 180px;
          height: auto;
          display: flex;
          align-items: center;
          text-decoration: none solid rgb(38, 40, 43);
          text-align: center;
          word-spacing: 0px;
          overflow: hidden;
          font-size: 12px;
          line-height: 15.8px;
          text-decoration: none solid rgb(69, 76, 83);
          text-align: left;
          word-spacing: 0px;
  
          .commentUserImg {
            width: 30px;
            height: 30px;
            border: 0px solid #ffffff;
            border-radius: 50%;
          }
  
          .commentUserInfo {
            display: inline;
            padding-left: 5px;
  
            .commentUser {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
  