.mainWrapper {
  position: relative;
  margin: 0 auto;
  justify-content: center;
  text-decoration: none;
  padding-top: 180px;
  font-size: 1.2rem;
  line-height: 1.56rem;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
  }

  button {
    width: 300px;
    height: 300px;
  }

  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .loader {
    position: absolute;
    animation-duration: 500ms;
    animation-delay: 300ms;
  }
}

.sidebar {
  width: 56px;
  height: 56px;
  background-position: -369px 0;
  background-position-x: -369px;
  background-position-y: 0px;
}

.sidebar_sns {
  right: 0;
  list-style: none;
  font-size: 24px;
  margin: 0;
  text-decoration: none;
  text-align: right;
  background-color: var(--background-color);
  opacity: 0.7;
  padding: 8px 40px;
}

.displayNone {
  display: none;
}

.infiniteScrollTarget {
  display: none;
}
