.Footer {
  display: block;
  width: 1180px;
  height: 200px;
  margin: 10px auto;
  border-top: 1px solid #e8ebed;
  padding-top: 30px;

  .footerContainer {
      display: flex;
      background-color: #f2f2f2;
      font-size: 14px;
      font-weight: 700;
      color: #454c53;
      font-size: 14px;
      text-align: center;
      padding: 20px 20px 18px 20px;
      margin-top: 25px;

      .left {
        width: 40%;
      }

      .middle {
        width: 40%;
        .title {
          margin: 5px 0 10px 0;
        }
        .descList {
          width: 100%;
          font-size: 14px;
          line-height: normal;
          a {
            color: #454c53;
            text-decoration-color: #454c53;
          }
        }
      }
    }

    .right {
      width: 20%;
    }
  }

