
.modal{
  --red: #ff0055;
  position: fixed;
  top:0;
  bottom:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:none;

  .modalBody{
    position: absolute;
    width:500px;
    height:500px;
    bottom:200px;
    padding: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    .progress-bar {
      position: fixed;
      top:237px;
      left: 702px;
      right: 0;
      width:482px;
      height: 15px;
      background: var(--red);
      transform-origin: 0%;
      border-radius:5px;
    }

    .tosContent{
      width:100%;
      height:80%;
    }

  }
  
}



.Footer {
  display: block;
  // width: 1180px;
  // height: 200px;
  margin: 10px auto;
  border-top: 1px solid #e8ebed;
  padding-top: 30px;

  font-family: 'sofia-pro', 'sans-serif';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  

  .footerContainer {
      display: flex;
      background-color: #f2f2f2;
      font-size: 14px;
      font-weight: 700;
      color: #454c53;
      font-size: 14px;
      text-align: center;
      padding: 15px 15px 30px 15px;
      margin-top: 25px;

      .left {
        width: 33%;
      }

      .middle {
        width: 33%;
      }

      .right {
        width: 33%;
      }

      .title {
        margin: 5px 0 10px 0;
      }
    
      .descList {
        width: 100%;
        font-size: 14px;
        line-height: normal;
        margin-top: 5px;
        &:hover {
          color:#ff0066;
        }
        .contactWrapper{
          &:hover {
            color:#454c53;
      }
      }
    }
  }
}