.repleWrite {
  margin-top: 10px;
  .repleWriteBox {
    display: flex;
    border-radius: 15px;
    border: 1px solid silver;
    padding: 3px;
    margin-top:10px;
    margin-bottom:15px;
    div {
      width: 90%;
      outline: none;
      padding: 6px;
      font-size: 14px;
    }
    button {
      width: 9%;
      background-color: white;
      padding: 3px;
      cursor: pointer;
    }
  }
}
