.feedInnerParentDiv {
  // display: inline-block;
  break-inside: avoid;
  justify-content: center;
  align-items: center;
  border: 1px solid silver;
  border-radius: 5px;

  .feedInnerLayoutDiv {
    break-inside: avoid;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .feedImageDiv {
      width: 100%;
      display: flex;
      justify-content: center;
      overflow: hidden;
      position: relative;
      z-index: 0;
      &:hover {
        cursor: pointer;
      }

      .shortCutMenu {
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 60px;
        background-color: black;
        opacity: 50%;
        z-index: 1;
        cursor: auto;
        // transition-duration: 0.5s;
        transform: translateY(60px);
      }

      .thumbNail {
        width: 250px;
        min-height: 250px;
        max-height: 400px;
        object-fit: cover;
        overflow: hidden;
      }
    }

    .feedInfoDiv {
      width: 100%;
      height: 100px;
      margin-top: 12px;

      word-wrap: break-word;
      position: relative;
      z-index: 1;

      .userProfileLayout {
        width: 25%;
        float: left;
        height: 100%;
        display: flex;
        justify-content: center;
        position: relative;

        .userProfile {
          width: 50px;
          height: 50px;
          object-fit: cover;
          border-radius: 100px;
        }

        .FeedLikeLayout {
          position: absolute;
          bottom: 10px;
          left: 10px;
          width: 50px;
          height: 25px;
          color: #222;
          transition: transform 0.2s ease-in-out;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            cursor: pointer;
          }

          &.liked {
            color: #ff0066;
          }

          span {
            width: 50%;
          }

          .heartButton {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .userInfoLayout {
        width: 75%;
        float: left;
        height: 100%;

        .userInfo {
          width: 100%;
          height: 20%;

          * {
            height: 100%;
          }

          .userNameLayout {
            float: left;
            font-size: 14px;
          }
          .feedWriteDateLayout {
            float: right;
            // width: 60%;
            text-align: right;
            padding-right: 10px;
            font-size: 12px;
          }
        }

        .feedBottomLayout {
          width: 100%;
          height: 80%;
          .feedHashTagLayout {
            float: left;
            padding-top: 5px;
            width: 65%;
            height: 100%;
            font-size: 15px;
          }

          .feedWeatherLayout {
            float: left;
            width: 30%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            svg {
              width: 35px;
              height: 35px;
            }

            span {
              margin-top: 5px;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

.feedInnerParentDiv * {
  border: 0px;
}
