.feedCommentList{
    display:flex;
    margin-bottom:5px;
    .imageBox{
        width:40px;
        height:40px;
        border:1px solid silver;
        border-radius:30px;
        img{
            width:100%;
            height:100%;
            border-radius:30px;
        }
        
    }
    .contentsBox{
        margin-left:10px;
        flex:5;
        .userInfo{
            font-size:13px;
            margin-right:10px;
            line-height:23px;
          .userNickname{
                margin-right:8px;
                font-weight:bold;
            }
        }
        .contents{
            font-size:13px;
        }
    }
    .heartBox{
        font-size:15px;
        svg{
            width:20px;
            height:20px;
        }
    }

}

.feedCommentList2{
    display:flex;
    line-height:30px;
    margin-bottom:15px;

    .writeDate{
        font-size:11px;
        width:22%;
        margin-right:5px;
    }
    .heartCount{
        width:13%;
        font-size:11px;
        margin-right:5px;
    }
    .repleBtn{
        width:20%;
        button{
            background-color:white;
            color:rgb(147, 147, 147);
            font-weight:600;
            cursor: pointer;
        }
        button:hover{
            opacity:50%;
        }
    }
    .btnBox{
        text-align:right;
        width:47%;
    .commentBtn{
        background-color:white;
        color:black;
        height:22px;
        border-radius:10px;
        font-size:12px;
        cursor:pointer;
        border:1px solid silver;
        width:45px;
        margin-right:5px;
        box-shadow:2px 2px 2px rgb(228, 228, 228);
        }
        .commentBtn:hover{
            opacity:50%;
        }
    }
}

.nestedCommentReple{
    .nestedCommentInput{
        border-bottom:1px solid silver;
        height:30px;
        outline:none;
    }
    button{
        margin-left:345px;
        margin-top:5px;
        margin-bottom:15px;
        background-color:black;
        color:white;
        width:40px;
        height:25px;
        border-radius:7px;
        font-size:12px;
    }
}

.nestedComment{
    padding-left:20px;
}