.repleWrite {
  margin-top: 10px;
  .repleWriteBox {
    display: flex;
    border-radius: 15px;

    border: 1px solid silver;
    padding: 3px;
    div {
      width: 90%;
      outline: none;
      padding: 6px;
      font-size: 14px;
    }
    button {
      width: 10%;
      background-color: white;
      padding: 0;
    }
  }
}
