.feedListNaviLayout {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .menu {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      cursor: pointer;
      width: 20px;
      height: 20px;
      stroke: white;
      fill: white;
    }
  }
}
