* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: "Helvetica", "Arial", "Apple SD Gothic Neo", "Nanum Gothic",
      "Malgun Gothic", "DotumChe", "Dotum", sans-serif;
  }
  
  .my-masonry-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    width: 64.236%;
  }
  .my-masonry-grid_column {
    padding-left: 1.45rem;
    background-clip: padding-box;
  }
  
  .my-masonry-grid_column > div {
    margin-bottom: 30px;
  }
  
  .cardListWrapper {
    margin: 0 auto;
    height: auto;
  
    .heading {
      text-align: center;
      line-height: 1.3;
      color: #26282b;
      font-size: 18px;
      font-weight: bold;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }
  }
  