@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://spoqa.github.io/spoqa-han-sans/ko-KR/");

$orange: #ff5f00;
$white: #ffffff;
$black: #26282b;
$ootdBorderColor: #e8ebeb;
$gray: #9ea4aa;
$yellow: #ffd93d;
$storeBorderColor: #f0f1f4;
 