$black: #000000;
$ash-black: #222;
$gray: #9ea4aa;
$white: #ffffff;
$sky: #00ccff;
$mint: #22dddd;
$blue: #1300ff;
$dusk: #6600ff;
$purple: #9900ff;
$hotpink: #ff0066;    // Point Color
$red: #fe0222;
$yellow: #ffbb00;
$orange: #ff5f00;


$storeBorderColor: #f0f1f4;
$ootdBorderColor: #e8ebeb;