.user {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 23px;
  //grid
  height: 400px;
  overflow: hidden;
  .container {
    display: flex;
    width: 620px;
    height: 118px;
    border: 1px solid #dadde0;
    margin-bottom: 20px;
    .profileImgBox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20%;
      height: 118px;
      img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 40px;
      }
    }
    .profileNameBox {
      width: 60%;
      margin: auto 0;
      .nickname {
        font-size: 18px;
        font-weight: 700;
        color: #131518;
      }
      .desc {
        margin-top: 5px;
        font-size: 13px;
        color: #757d86;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    .userFollowButtonBox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20%;
      .followButton {
        background-color: #ffffff;
        border: none;
        font-size: 16px;
        font-weight: 700;
        color: #ff5f00;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
