@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://spoqa.github.io/spoqa-han-sans/ko-KR/");

.tag {
  // font-family: "Helvetica", "Arial", "Apple SD Gothic Neo", "Nanum Gothic",
  //   "Malgun Gothic", "DotumChe", "Dotum", "Spoqa Han Sans", "Spoqa Han Sans JP",
  //   "Sans-serif";
  margin-top: 23px;

  .cardList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3;
    grid-gap: 25px;
    margin: 0 auto;
    // 이것보다 좋은 방법 있을 것같은데 row조절 못하고있음
    height: 1110px;
    overflow: hidden;
    .eachCard {
      // width: 220px;
      // height: 375px;
      // margin-right: 20px;

      .tagImgBox {
        display: flex;
        justify-content: center;
        width: 300px;
        height: 300px;
        overflow: hidden;
        .tagImg {
          width: 100%;
          height: 100%;
          object-fit: cover;

          &:hover {
            cursor: pointer;
            transform: scale(1.1);
            transition: transform 0.5s ease;
          }
        }
      }
      .tagDescBox {
        width: 300px;
        max-height: 36px;
        margin-top: 10px;
        color: #21242a;
        font-size: 14px;
        .userName {
          font-weight: 700;
          &:hover {
            cursor: pointer;
          }
        }
        .userId {
          margin-left: 5px;

          span {
            color: #26282b;
            font-size: 14px;
            font-weight: 700;
            text-align: left;
          }
        }
    }
  }
}
}